{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Perfil do Cliente</title>
  <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">   
</head>

<body>
  <header class="container">
    <div class="row align-items-center">
      <a class="col-2" href="/">
      <div class="logo-img-container">
        <img src="{% static 'img/logo/WomakersLibPng.png' %}" alt="Womakers Lib" class="logo-img transition-soft" width="190" height="130">
      </div>
      </a>
    </div>
  </header>
  


    <div class="container page">
    </br>
    <h1>Detalhes do carrinho</h1>
    </br>
    </div>


  <footer class="container">
    <span class="separator">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      Copyright Womakers 2024. Todos os direitos reservados.
    </span>
  </footer>
</body>
</html> 