*{
  background:#F9F7F3 ;
}


header {
  padding: 20px 0;
  display: flex;
  justify-content: left;
}

main {
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: sans-serif; 
  text-align: center;
  margin-top: 30px;
}

.page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.card-title,
.content {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.separator {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #B5E2FA;
  color: black;
}

/* Botões */
.btn {
  background: linear-gradient(306deg, rgba(246,136,77,1) 10%, rgba(255,203,175,1) 100%);
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  padding: 5px 20px;
  font-weight: bold;
  border: none;
  background-size: 200% 100%; 
  text-decoration: none;
}

.btn:hover {
  background: #eddea4;
}
