{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<title>Cadastro</title>
</br>
<h1 style="text-align: center">Cadastro</h1>
</br>

<form  action="" method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}

  <h2>Dados Pessoais</h2>
  {% bootstrap_form cliente_form %}

  <h2>Endereço</h2>
  {{ endereco_formset.management_form }}
  {% for form in endereco_formset %}
    {% bootstrap_form form%}
  {% endfor %} 

  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Cadastrar
    </button>
  {% endbuttons %}
  
</form>