<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Perfil do Cliente</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Perfil do cliente</h1>
        </br>
        <h3 class="card-title">{{ cliente.nome }}</h3>
        <p class="card-text">E-mail: {{ cliente.email }}</p>
        <p class="card-text">Telefone:  {{ cliente.telefone }}</p>
        <p class="card-text">CPF: {{ cliente.cpf }}</p>
        <p class="card-text">Pedidos: 
            {% for pedido in cliente.pedido.all %}
              {{ pedido }} 
            {% endfor %}
        </p>
    </body>
</html>