body{
  position: relative;
  background-color: #F9F7F3;
}


.container {
  position: relative;

}

.logo-img-container {
  margin-right: 300px;
}


.search-container {
  background-color: #0fa3b1;
  border-radius: 25px;
  display: flex;
  align-items: center;
  height: 73px;
  width:100% ;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #0fa3b4;
  font-family: "Titillium Web", sans-serif;
}

.search-input:hover {
  background-color: #0fa3b4;
}

footer {
  margin-top: 100px;
  background-color:#F9F7F3 ;
}

.payments p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.socials p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}


.btn-livros{

  background: linear-gradient(306deg, rgba(246,136,77,1)10%, rgba(255,203,175,1)100%); 
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  width:10rem;
  height: 2.5rem;
  padding:5px 20px;
  font-weight: bold;
  border: none;
  background-size: 200% 100%;
}

.btn-livros:hover {
  cursor: pointer;
  background:#EDDEA4;
}


footer {
  margin-top: 100px;
}
.separator {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #B5E2FA;
  font-family: "Titillium Web", sans-serif;
  color: black;
}
