{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
  
    <!-- fontes-->     
      <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
    <title>WoMakersLib</title>
    <!-- Bootstrap CSS -->
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <!-- importar css-->
    <base href="/">
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
  </head>
    
  <body>
    <header class="container">
      <div class="row align-items-center">
        <a class="col-2" href="/">
          <div class="logo-img-container">
            <img src="{% static 'assets\img\logo.png' %}" alt="Womakers Lib" class="logo-img transition-soft align-self-center" width="190" height="130">
          </div>
        </a>
        <div class="col-8 row">
          <div class="input-group flex-nowrap">
            <form class="search-container justify-content-center" action="{% url 'Livros:search' %}" method="get">
              <input class="search-input form-control" autocomplete="off" type="search" name="q" placeholder="O que você está buscando?">
              <button type="submit" class="btn search-input-submit" value="Buscar" aria-label="Buscar">
                  <i class="bi bi-search justify-left"></i>
              </button>
          </form>          
          </div>
        </div>
        <nav class="col-2 nav justify-content-center">
          <a class="nav-link active" aria-current="page" href="/cliente/perfil/">
            <img src="{% static './assets/svg/profile.svg' %}" alt="" width="46" height="46">
          </a>
          <a class="nav-link" href="/pedido/detalhes_carrinho/">
            <img src="{% static './assets/svg/cart.svg' %}" alt="" width="46" height="46">
          </a>
        </nav>
      </div>
    </header>

  <span class="separator">
    Categorias
  </span>
    
    <!-- Lista de livros -->
    <main>
      <div class="row g-0">
        {% for livro in livros %}
          <div class="col-md-3 mb-4">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="d-flex flex-row">
                {% if livro.imagem_capa %}
                  <img src="{% static 'media/' %}{{ livro.imagem_capa }}" class="img-fluid rounded-start align-self-center" alt="{{ livro.titulo }}" width="150" height="150">
                {% else %}
                  <img src="{% static 'media/unavailable.jpg' %}" alt="Image unavailable" class="img-fluid mb-3" width="26">
                {% endif %}
    
                <div class="card-body d-flex flex-column align-items-start">
                  <div class="ml-3">
                    <h5 class="card-title">{{ livro.titulo }}</h5>
                    <p class="card-text">
                      Autor(es):
                      {% for autor in livro.autores.all %}
                        {{ autor.nome }} {{ autor.sobrenome }}
                      {% endfor %}
                    </p>
                    <a href="/livro/detalhe_livro/{{livro.id}}" class="btn-livros btn-primary">Ver Mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </main>
    

  
 

    <footer class="container">
        <section class="row">
            <div class="col-6 payments">
                <p>Pague com</p>
                <div>
                    <img src="{% static './assets/img/forma-pagamento-1.png' %}" alt="" width="89" height="58">
                    <img src="{% static './assets/img/forma-pagamento-2.png' %}" alt="" width="89" height="58">
                    <img src="{% static './assets/img/forma-pagamento-3.png' %}" alt="" width="89" height="58">
                </div>          
            </div>
            <div class="col-6 socials">
                <p>Nos siga nas redes</p>
                <nav class="nav justify-content-center">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img src="{% static './assets/svg/twitter.svg' %}" alt="" width="26" height="26">
                    </a>
                    <a class="nav-link" href="#">
                        <img src="{% static './assets/svg/facebook.svg' %}" alt="" width="26" height="26">
                    </a>
                    <a class="nav-link" href="#">
                        <img src="{% static './assets/svg/linkedin.svg' %}" alt="" width="26" height="26">
                    </a>
                    <a class="nav-link" href="#">
                        <img src="{% static './assets/svg/instagram.svg' %}" alt="" width="26" height="26">
                    </a>
                </nav>
            </div>
        </section>
    </footer>

    <span class="separator"></span>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html
